<h1>Counter</h1>

<div class="counter">
  <div class="count">{{ count$ | async }}</div>
  <small>Plus 2: {{ countWithOffset$ | async }}</small>
  <div class="counter-actions">
    <button (click)="increment()">Increment</button>
    <button (click)="decrement()">Decrement</button>
    <button (click)="executeNestedDuck()" class="outline">
      Log to the console, demonstrating a nested Duck
    </button>
  </div>
</div>

<div class="progress" [hidden]="(isLoading$ | async) === false">
  Initializing...
</div>
